@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url("https://db.onlinewebfonts.com/c/9507671abbe312810db81b4a6514f7af?family=RDRLino-Regular");
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-display: "Playfair Display", "serif";
  --font-rdr: "RDRLino-Regular"
}